@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.nav-link.active {
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.5em;
  display: block;
  font-size: 18px;
  margin-right: 0.5em;
  margin-bottom: -0.25em;
}

.nav-link.pageactive {
  color: white;
  border: 1px solid white;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.5em;
  margin-right: 0.5em;
  /* margin-bottom: -0.25em; */
}

.nav-link.displaynone{
  display:none;
}
