
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
  height: 100vh;
	margin: -20px 0 50px;
}

.container-fluid{
  background-color: white;
  border-radius: 10px;
  max-width: 768px;
  min-width: 320px;
  padding-top: 2%;
  padding-bottom: 2%;
}

h2 {
	text-align: center;
  padding-bottom: 1%;
}

button {
	border-radius: 15px;
	border: 1px solid #252422;
	background-color: #252422;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
  margin-top: 1.5%;
}

.buttonBottom {
  padding: 12px 60px;
}

button:active {
	transform: scale(0.95);
}

button:hover{
  background-color: #EB5E28;
  color: #FFF;
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

input.form-control {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.help-block{
  color: red;
  font-size: 14px;
}

.label {
  margin-top: 1.5%;
}

img{
  padding-top: 2%;
}
