@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

.container-fluid {
  background-color: #fff;
  border-radius: 10px;
	width: 85vw;
  padding-top: 4%;
  padding-bottom: 3%;
}

.coloredRowButton {
  padding-top: 2.2%;
  padding-bottom: 2%;
  background-color: #C6C6C6;
}

.coloredRow {
  padding-top: 2%;
  padding-bottom: 1%;
  background-color: #C6C6C6;
}

.spacingRow {
  padding-top: 1.5%;
}

.prova {
  word-wrap: break-word;
}
