<div class="container-fluid text-center">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h4>Username</h4>
      <p *ngFor="let item of data">{{ item.username }}</p>
    </div>
    <div class="col-md-auto">
      <h4>Email</h4>
      <p *ngFor="let item of data">{{ item.mail }}</p>
    </div>
    <div class="col-md-auto">
      <h4>Ragione Sociale</h4>
      <p *ngFor="let item of data">{{ item.ragioneSociale }}</p>
    </div>
    <div class="col-md-auto">
      <h4>Partita IVA</h4>
      <p *ngFor="let item of data">{{ item.partitaIva }}</p>
    </div>
  </div>
  <div class="row coloredRow justify-content-md-center">
    <div class="col-md-auto">
      <h4>Città</h4>
      <p *ngFor="let item of data">{{ item.citta }}</p>
    </div>
    <div class="col-md-auto">
      <h4>Indirizzo</h4>
      <p *ngFor="let item of data">{{ item.indirizzo }}</p>
    </div>
    <div class="col-md-auto">
      <h4>Spedizione</h4>
      <p *ngFor="let item of data">{{ item.spedizione }}</p>
    </div>
    <div class="col-md-auto">
      <h4>Pagamento Preferito</h4>
      <p *ngFor="let item of data">{{ item.formaPagamento }}</p>
    </div>
  </div>
  <div class="row spacingRow justify-content-md-center">
    <div class="col-md-auto">
      <h4>Lavorazioni Body</h4>
      <p class="prova" *ngFor="let item of data">{{ item.GuitarStyles }}</p>
    </div>
    <div class="col-md-auto">
      <h4>Legni</h4>
      <p class="prova" *ngFor="let item of data">{{ item.GuitarWoods }}</p>
    </div>
    <div class="col-md-auto  justify-content-center">
      <h4>Verniciature</h4>
      <p class="prova" *ngFor="let item of data">{{ item.GuitarVarnishing }}</p>
    </div>
  </div>
  <div class="row coloredRowButton justify-content-md-center">
    <div class="col-md-auto">
      <button class="btn btn-outline-dark" (click)="editMode()"><b>Modifica il tuo profilo</b></button>
    </div>
  </div>
</div>
