@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
  box-sizing: border-box;
}

.container-fluid {
  background-color: #fff;
  border-radius: 10px;
	width: 1000px;
  padding-top: 1.5%;
  padding-bottom: 1%;
}

.titleRow {
  border-bottom: 3px solid  rgba(64, 61, 57, 0.2);;
  margin-bottom: 2%;
}

h2 {
  padding-bottom: 1%;
  font-style: italic;
}

.colonnaColorata {
  padding-top: 1%;
  background-color: rgba(64, 61, 57, 0.2);
}

.spacingRow {
  padding-top: 1%;
}

button {
  margin: 15px;
}

button {
  border-radius: 20px;
  border: 1px solid #252422;
  background-color: #252422;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:hover {
  background-color: #EB5E28;
  color: #FFF;
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

