<div class="container-fluid" >
  <div class="row justify-content-md-center grid gap-5 row-gap-3">
    <div class="col-md-auto userTab d-flex justify-content-center">
      <div class="userContainer d-grid">
        <h2>Crea la tua chitarra custom!</h2>
        <img src="../assets/pexels-méline-waxx-165971.jpg" alt="GuitarCreation" width="400px" class="img-fluid">
        <br>
        <button (click)="openGuitarConfigurator()" type="button" class="btn btn-danger" >Vai al configuratore!</button>
      </div>
    </div>
    <!-- <div class="col-1"></div> -->
    <div class="col-md-auto luthierTab d-flex justify-content-center">
      <div class="luthierContainer d-grid">
        <h2>Sei un liutaio?</h2>
        <img src="../assets/pexels-andrea-piacquadio-3811817-min.jpg" alt="luthierRegistration" width="400px" class="img-fluid">
        <br>
        <button (click)="openLuthierForm()" type="button" class="btn btn-danger">Registrati o esegui l'accesso!</button>
      </div>
    </div>
  </div>
</div>
