<div class="container text-center">
  <div class="row row-cols-auto row-gap-4 justify-content-md-center">
    <div class="col">
      <form action="">
        <img src="../../../assets/Others/Altro_Form/Meccaniche.jfif" alt="Meccaniche" width="150" class="img-fluid">
        <br>
        <label for="Meccaniche"><strong>Meccaniche</strong></label>
        <br>
        <div class="Options">
          <select id="Meccaniche" [value]="dropdown1" (change)="onSelectMeccanicheChange($event)">
            <option value='Classiche'>Classiche</option>
            <option value='Autobloccanti'>Autobloccanti</option>
            <option value='Vintage'>Vintage</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col">
      <form action="">
        <img src="../../../assets/Others/Altro_Form/Pickups.jpg" alt="PickUp" width="150" class="img-fluid">
        <br>
        <label for="PickUp"><strong>Configurazione PickUp</strong></label>
        <br>
        <div class="Options">
          <select id="PickUp" (change)="onSelectPickUpChange($event)" [value]="dropdown2">
            <option value="SSS">SSS</option>
            <option value="HSS">HSS</option>
            <option value="HH">HH</option>
            <option value="SS">SS</option>
            <option value="HSH">HSH</option>
            <option value="SH">SH</option>
            <option value="H">H</option>
            <option value="P90">P90</option>
            <option value="P90x2">P90x2</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col">
      <form action="">
        <img src="../../../assets/Others/Altro_Form/Binding.jpg" alt="Binding" width="150" class="img-fluid">
        <br>
        <label for="Binding"><strong>Binding</strong></label>
        <br>
        <div class="Options">
          <select id="Binding" (change)="onSelectBindingChange($event)" [value]="dropdown3">
            <option value="No">No</option>
            <option value="Si">Si</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col">
      <form action="">
        <img src="../../../assets/Others/Altro_Form/Pickguard.jpg" alt="Battipenna" width="150" class="img-fluid">
        <br>
        <label for="Battipenna"><strong>Battipenna</strong></label>
        <br>
        <div class="Options">
          <select id="Battipenna" (change)="onSelectBattipennaChange($event)" [value]="dropdown4">
            <option value="Si">Si</option>
            <option value="No">No</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col">
      <form action="">
        <img src="../../../assets/Others/Altro_Form/Bridge.jpg" alt="Ponte" width="150" class="img-fluid">
        <br>
        <label for="Natural"><strong>Ponte</strong></label>
        <br>
        <div class="Options">
          <select id="Ponte" (change)="onSelectPonteChange($event)" [value]="dropdown5">
            <option value="Fisso">Fisso</option>
            <option value="Mobile">Mobile</option>
            <option value="Floyd Rose">Floyd Rose</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col">
      <form action="">
        <img src="../../../assets/Others/Altro_Form/Capotasto.jpg" alt="Capotasto" width="150" class="img-fluid">
        <br>
        <label for="Natural"><strong>Capotasto</strong></label>
        <br>
        <div class="Options">
          <select id="Capotasto" (change)="onSelectCapotastoChange($event)" [value]="dropdown6">
            <option value="Plastica">Plastica</option>
            <option value="Grafene">Grafene</option>
            <option value="Osso">Osso</option>
            <option value="Ottone">Ottone</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col">
      <form action="">
        <img src="../../../assets/Others/Altro_Form/Straps.jpg" alt="Straps" width="150" class="img-fluid">
        <br>
        <label for="Straps"><strong>Straps</strong></label>
        <br>
        <div class="Options">
          <select id="Straps" (change)="onSelectStrapsChange($event)" [value]="dropdown7">
            <option value="Standard">Standard</option>
            <option value="StrapLock">StrapLock</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col">
      <form action="">
        <img src="../../../assets/Others/Altro_Form/Knobs.jpg" alt="Manopole" width="150" class="img-fluid">
        <br>
        <label for="Manopole"><strong>Manopole</strong></label>
        <br>
        <div class="Options">
          <select id="Manopole" (change)="onSelectManopoleChange($event)" [value]="dropdown8">
            <option value="Strato Style">Strato Style</option>
            <option value="Gibson Style">Gibson Style</option>
            <option value="Steel Style">Steel Style</option>
            <option value="Strato Vintage Style">Strato Vintage Style</option>
            <option value="Gibson Vintage Style">Gibson Vintage Style</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col">
      <form action="">
        <img src="../../../assets/Others/Altro_Form/PalettaInTinta.jpg" alt="Paletta" width="150" class="img-fluid">
        <br>
        <label for="Paletta"><strong>Paletta in tinta</strong></label>
        <br>
        <div class="Options">
          <select id="Paletta" (change)="onSelectPalettaChange($event)" [value]="dropdown9">
            <option value="No">No</option>
            <option value="Si">Si</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col">
      <form action="">
        <img src="../../../assets/Others/Altro_Form/Orientamento.jpg" alt="Orientamento" width="150" class="img-fluid">
        <br>
        <label for="Orientamento"><strong>Orientamento</strong></label>
        <br>
        <div class="Options">
          <select id="Orientamento" (change)="onSelectOrientamentoChange($event)" [value]="dropdown10">
            <option value="Classica">Classica</option>
            <option value="Mancina">Mancina</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col">
      <form action="">
        <div class="alert alert-dark mt-4" role="alert">
          <textarea rows="4" cols="25"
            placeholder="Aumenta il livello di personalizzazione:
scrivi qui eventuali altre modifiche!"
            name="TextAltro" (input)="onTextareaInput($event)" [value]="dropdown11"></textarea>
        </div>
      </form>
    </div>
  </div>
  <div class="row rowButtons justify-content-md-center">
    <div class="col-auto d-grid gap-2 mx-auto">
      <button class="btn" type="submit" (click)="this.emitEventPrevious()">Indietro</button>
      <button class="btn" type="submit" (click)="emitEventFinalize()"
        [disabled]="this.finalizeDisable">Finalizza</button>
    </div>
  </div>
