@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.container {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 2%;
  padding-bottom: 2%;
}

button {
	border-radius: 20px;
	border: 1px solid #252422;
	background-color: #252422;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:hover{
  background-color: #EB5E28;
  color: #FFF;
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.btn-back{
  margin-right: 20px;
}

.form-check-input {
  padding-left: 20px;
  padding-right: 20px;
}

label {
  margin-top: 10px;
}

.rowButtons {
  margin-top: 40px;
}

textarea {
  margin-top: 1.5%;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

