<div class="container container-form text-center ">
  <div class="row">
    <div class="col">
      <form action="">
        <img class="woodImage" src="./../../assets/Others/Nuova cartella/meccaniche.jpg" alt="Meccaniche" width="175">
        <br>
        <label class="guitarTypeLabel" for="Meccaniche"><strong>Meccaniche</strong></label>
        <br>
        <div class="Options">
          <select id="Meccaniche" [value]="dropdown1" (change)="onSelectMeccanicheChange($event)" >
            <option value='Classiche'>Classiche</option>
            <option value='Autobloccanti'>Autobloccanti</option>
            <option value='Vintage'>Vintage</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col">
      <form action="">
        <img class="woodImage" src="./../../assets/Others/Nuova cartella/pickUp.jpg" alt="PickUp" width="175">
        <br>
        <label class="guitarTypeLabel" for="PickUp"><strong>Configurazione PickUp</strong></label>
        <br>
        <div class="Options">
          <select id="PickUp" (change)="onSelectPickUpChange($event)" [value]="dropdown2">
            <option value="SSS">SSS</option>
            <option value="HSS">HSS</option>
            <option value="HH">HH</option>
            <option value="SS">SS</option>
            <option value="HSH">HSH</option>
            <option value="SH">SH</option>
            <option value="H">H</option>
            <option value="P90">P90</option>
            <option value="P90x2">P90x2</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col">
      <form action="">
        <img class="woodImage" src="./../../assets/Others/Nuova cartella/binding.jpg" alt="Binding" width="175">
        <br>
        <label class="guitarTypeLabel" for="Binding"><strong>Binding</strong></label>
        <br>
        <div class="Options">
          <select id="Binding" (change)="onSelectBindingChange($event)"[value]="dropdown3">
            <option value="No">No</option>
            <option value="Si">Si</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col">
      <form action="">
        <img class="woodImage" src="./../../assets/Others/Nuova cartella/battipenna.png" alt="Battipenna" width="175">
        <br>
        <label class="guitarTypeLabel" for="Battipenna"><strong>Battipenna</strong></label>
        <br>
        <div class="Options">
          <select id="Battipenna" (change)="onSelectBattipennaChange($event)"[value]="dropdown4">
            <option value="Si">Si</option>
            <option value="No">No</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col">
      <form action="">
        <img class="woodImage" src="./../../assets/Others/Nuova cartella/ponte!.jpg" alt="Ponte" width="175">
        <br>
        <label class="guitarTypeLabel" for="Natural"><strong>Ponte</strong></label>
        <br>
        <div class="Options">
          <select id="Ponte" (change)="onSelectPonteChange($event)"[value]="dropdown5">
            <option value="Fisso">Fisso</option>
            <option value="Mobile">Mobile</option>
            <option value="Floyd Rose">Floyd Rose</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form action="">
        <img class="woodImage" src="./../../assets/Others/Nuova cartella/capotasto.jpeg" alt="Capotasto" width="175">
        <br>
        <label class="guitarTypeLabel" for="Natural"><strong>Capotasto</strong></label>
        <br>
        <div class="Options">
          <select id="Capotasto" (change)="onSelectCapotastoChange($event)" [value]="dropdown6">
            <option value="Plastica">Plastica</option>
            <option value="Grafene">Grafene</option>
            <option value="Osso">Osso</option>
            <option value="Ottone">Ottone</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col">
      <form action="">
        <img class="woodImage" src="./../../assets/Others/Nuova cartella/straps.jpg" alt="Straps" width="175">
        <br>
        <label class="guitarTypeLabel" for="Straps"><strong>Straps</strong></label>
        <br>
        <div class="Options">
          <select id="Straps" (change)="onSelectStrapsChange($event)" [value]="dropdown7">
            <option value="Standard">Standard</option>
            <option value="StrapLock">StrapLock</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col">
      <form action="">
        <img class="woodImage" src="./../../assets/Others/Nuova cartella/manopole.jpg" alt="Manopole" width="175">
        <br>
        <label class="guitarTypeLabel" for="Manopole"><strong>Manopole</strong></label>
        <br>
        <div class="Options">
          <select id="Manopole" (change)="onSelectManopoleChange($event)" [value]="dropdown8">
            <option value="Strato Style">Strato Style</option>
            <option value="Gibson Style">Gibson Style</option>
            <option value="Steel Style">Steel Style</option>
            <option value="Strato Vintage Style">Strato Vintage Style</option>
            <option value="Gibson Vintage Style">Gibson Vintage Style</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col">
      <form action="">
        <img class="woodImage" src="./../../assets/Others/Nuova cartella/paletta.jpg" alt="Paletta" width="175">
        <br>
        <label class="guitarTypeLabel" for="Paletta"><strong>Paletta in tinta</strong></label>
        <br>
        <div class="Options">
          <select id="Paletta" (change)="onSelectPalettaChange($event)" [value]="dropdown9">
            <option value="No">No</option>
            <option value="Si">Si</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col">
      <form action="">
        <img class="woodImage" src="./../../assets/Others/Nuova cartella/mancina.jpg" alt="Orientamento" width="175">
        <br>
        <label class="guitarTypeLabel" for="Orientamento"><strong>Orientamento</strong></label>
        <br>
        <div class="Options">
          <select id="Orientamento" (change)="onSelectOrientamentoChange($event)" [value]="dropdown10">
            <option value="Classica">Classica</option>
            <option value="Mancina">Mancina</option>
          </select>
        </div>
      </form>
    </div>
    <div id="altroContainer" class="d-flex align-items-center justify-content-center">
      <div>
        <img id="altroImg" class="woodImage" src="./../../assets/Others/Nuova cartella/altro.jpg" alt="Altro"
          width="100">
      </div>
      <div>
        <label id="altro" class="guitarTypeLabel mb-5 ms-3" for="Altro"><strong>Aumenta il livello di personalizzazione,
            scrivi qui a fianco eventuali altre modifiche!</strong></label>
      </div>
      <div>
        <form action="">
          <div class="alert alert-dark mt-5" role="alert">
            <textarea id="TextAltro" style="height: 55px; width: 500px; " placeholder="..." name="TextAltro"
              (input)="onTextareaInput($event)" [value]="dropdown11"></textarea>
          </div>
        </form>
      </div>
    </div>
    <div class="row rowButtons justify-content-center ">
      <div class="col-auto">
        <button class="btn btn-back" type="submit" (click)="this.emitEventPrevious()">Indietro</button>
        <button class="btn" type="submit" (click)="emitEventFinalize()"
          [disabled]="this.finalizeDisable">Finalizza</button>
      </div>
    </div>
  </div>
