<div class="container container-esterno position-absolute top-50 start-50 translate-middle" id="container">
  <div class="row align-items-center">
    <div class="col"></div>
    <div class="col-8">
      <h2>Inserisci la tua email</h2>
      <form #f="ngForm">
        <div class="container">
          <div class="row align-items-center">
            <div class="col d-grid gap-2">
              <input type="email" class="form-control" placeholder="Email" name="email" ngModel required
                #email="ngModel">
              <span class="help-block" *ngIf="!email.valid && email.touched">Questo campo non può
                rimanere vuoto</span>
                <button (click)="passwordReset(f)" class="btn" type="submit" [disabled]="!f.valid">Avanti</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>
